---
---
    
@import "bootstrap";

img { 
    margin-bottom: 24px; 
    margin-top: 17px; 
    border-radius:2%;
    max-width: 560px;
}


body {
	padding-top: 70px;
}

figcaption {
    text-align: right;
    margin-top: -20px;
    margin-bottom: 20px;
}


iframe {
    margin-bottom: 24px; 
    margin-top: 17px; 
    border-radius: 2%;
    max-width: 560px;
}

/* Top navigation bar */


p.byline {
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	margin-top: -24px;
	margin-bottom: 48px;
}


pubtit {
	font-weight: bold;
}

firstp {
}

/*
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px; 
}
*/

/* Home, News */
#newsid p {
	text-align: left;
}

#homeidtmp h1 {
	text-align: center;
}

#newsid img {
	margin-top: 6px;
	margin-bottom: 6px;
}

/* Team & Publications */
#gridid img { margin: 16px 22px 6px 0; border-radius:2%; box-shadow: 2px 2px 5px #888888 }
#homeid img { margin: 0 0 0 0; border-radius:2%; box-shadow: 0px 0px 0px #888888 }
#picid img { margin: 6px 3px 60px 6px; border-radius:2%; box-shadow: 2px 2px 5px #888888 }
#gridid .row { margin-bottom: 24px; }


/* Grid overrides */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	padding-left: 16px;
	padding-right: 16px;
}

/* Grid overrides */
.col-sm-4 {
	padding-left: 26px;
	padding-right: 26px;
}


/* Carusel */

.carousel {
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

/* Social icon */

.social-icon {
    width: 30px;
    height: 15px;
    svg-icon: grey;
    vertical-align: text-bottom;
}

.iframe-news {
  width: 100%;
  overflow: hidden;   /* はみ出し防止 */
}

/* iframe は常に「設計サイズ」で描画 */
.iframe-news iframe {
  width: 300px;
  height: 2400px;
  border: 0;
  transform-origin: 0 0;
}

/* カラムが十分広い場合 */
@media (min-width: 350px) {
  .iframe-news iframe {
    transform: scale(1.0);
  }
}

/* カラムが300px未満になったら縮小 */
@media (max-width: 300px) {
  .iframe-news iframe {
    transform: scale(0.8);
  }
}

/* さらに狭い場合 */
@media (max-width: 260px) {
  .iframe-news iframe {
    transform: scale(0.6);
  }
}

