---
layout: default
---
<div class="row">
  <div id="homeid" class="col-sm-8">
    {{ content }}
  </div>

  <div id="newsid" class="col-sm-4" >
    <h3>Products  (code & data)</h3>
    {% include products.html %}

    <h3>Lectures</h3>
    {% include lectures.html %}

    <h3>Lab News (Twitter/Facebook)</h3>
     <p>For more detail, please visit our <a href="https://twitter.com/G_Hydrodynamics">Lab Twitter @G_Hydrodynamics</a> and <a href="https://www.facebook.com/profile.php?id=61577996767548">Lab Facebook </p>
    <div class="iframe-news">
       <iframe height="2000"
         src="https://rss.app/embed/v1/magazine/x9uWCQYq9HmVTueE"
         frameborder="0">
       </iframe>
     </div>
    
  </div>
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v23.0"></script>
